.page-header {
    background-color: #309490;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
	//position: fixed;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #404050;
    font-size: 36pt;
    text-decoration: none;
}

.page-header a, .page-header a:visited, .page-header a:active {
    color: #50B4B0;
    text-decoration: none;
}

body {
	background: #9090A0;
	font-family: Comicsans, sans-serif;
	
}

.doom img {
    float: left;
    border: transparent thin solid;
    padding: 7px;
    margin: 0px 20px 10px 0;

}

.doom {
	padding: 20px 20px 20px 40px;
	color: #eeeeee
}

.doom a:visited, .doom a:active {
	color: gray;
}

.doom input {
	color: #555555;
	border: 2px solid lime;
	border-radius: 5px;
	background-color: #3CBC8D;
	margin: 2px;	
}
