<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	


    <title>Hackaton!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body>
	<div class="container">
		<div class="page-header">

			<p> Insira Fota aqui e Pans </p>


		</div>
	

				<div class="col-md-6">
				  <ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">Pesquisar Materia e tal</a></li>
					<li><a href="#">Calculo 2Rola</a></li>
					  <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Artes cenicas 3 com aprofundamento em mamba tupi-guarani
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="#">TurmX 1</a></li>
						  <li><a href="#">TurmX 2</a></li>
						  <li><a href="#">TurmX 3</a></li>
						</ul>
					  </li>
					<li><a href="#">Calculo 3Rola</a></li>
					<li><a href="#">Prog2</a></li>
				  </ul>
				</div> 


			 <div class="col-md-6">
				  <ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">Suas materias e pa</a></li>
					<li><a href="#">Calculo 1 4a vez agora vai</a></li>
					<li><a href="#">Fisica relativistica quantica</a></li>
					<li><a href="#">programacao de skynet</a></li>
				  </ul>
			</div> 			
			 
			</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

