<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
	  <link href="{% static 'database/css/index.css' %}" rel="stylesheet">


    <title>Hackaton!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body>
	<div class="doom">
		<div class="page-header">

			<img src="{% static 'database/images/logouff_smol.png' %}" class="img-fluid" alt="Responsive image"/>

		</div>
			<div class="col-md-6">		
			  <ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">Suas materias</a></li>
					<li><a href="#">Calculo 1</a></li>
					<li><a href="#">Fisica 1</a></li>
					<li><a href="#">Programacao 2</a></li>
				  </ul>
	
				</div>

				<div class="col-md-6">
				  <ul class="nav nav-pills nav-stacked">
					<li class="active">        
						<div class="input-group">
				            <input type="text" class="form-control" placeholder="Procurar materia" name="srch-term" id="srch-term">
           						 <div class="input-group-btn">			
       						         <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
           					 </div>
        				</div>
					</li>
					
					  <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Calculo 1
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="{% url 'database:menumateria' 'GCC09978' %}" method="get">Turma A2</a></li>
						  <li><a href="#">Turma B1</a></li>
						  <li><a href="#">Turma C4</a></li>
						</ul>
					  </li>
					  <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Algebra linear
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="{% url 'database:menumateria' 'GCC09978' %}" method="get">Turma A2</a></li>
						  <li><a href="#">Turma B1</a></li>
						  <li><a href="#">Turma C4</a></li>
						</ul>
					  </li>
			
					  <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Geometria analitica
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="{% url 'database:menumateria' 'GCC09978' %}" method="get">Turma A2</a></li>
						  <li><a href="#">Turma B1</a></li>
						  <li><a href="#">Turma C4</a></li>
						</ul>
			
					  <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Prog 1
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="{% url 'database:menumateria' 'GCC09978' %}" method="get">Turma A2</a></li>
						  <li><a href="#">Turma B1</a></li>
						  <li><a href="#">Turma C4</a></li>
						</ul>

			</div>	 


			
		</div>

	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

