{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ nome }}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Bootstrap core CSS-->
  <link href="{% static 'database/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'database/css/menumat.css' %}" rel="stylesheet">
</head>

<div class="page-header">
	<a href="{% url 'database:index' %}"><img src="{% static 'database/images/casa.png' %}"/></a>
  {% for nomes in nome_disc %}
    <h1><a href="/">{{ nomes.nome }}</a></h1>
	Turma {{ nomes.turma }}
  {% endfor %}
</div>
  

<body>
	<div class="doom">
		<img src="{% static 'database/images/grupo.png' %}"/>
		<h2>Grupos</h2>
		<div class="table-responsive">
		  <table class="table">
			<thead>
			  <tr>>
				<th>Data</th>
				<th>Hora</th>
				<th>Localização</th>
				<th>Vagas</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
				{% for grupo in grupo_list %}
				  <tr>
				    <div>
						<td>{{ grupo.date }}</td>
				        <td>{{ grupo.t_inicio }} - {{ grupo.t_fim }}</td>
						<td>{{ grupo.local }}</td>
				        <td>{{ grupo.n_atual }} / {{grupo.n_total}}</td>
						<td><script type="text/javascript">
							var btn;
							if ({{ grupo.n_atual }}!={{ grupo.n_total }}) {
								 btn = '<input type="submit" value="participar"/>';
							} else {
								 btn = 'cheio';
							}
							document.write(btn);
						</script></td>
				    </div>
				  </tr>
				{% endfor %}
			</tbody>
		  </table>
		</div>
		<input type="submit" value="add grupo"/>
	</div>

	<div class="doom">
		<img src="{% static 'database/images/calendar.png' %}"/>
		<h2>Datas</h2>
		<div class="table-responsive">
		  <table class="table">
			<thead>
			  <tr>>
				<th>Turma</th>
				<th>Data</th>
				<th>Prova</th>
			  </tr>
			</thead>
			<tbody>
				{% for provas in dataprova_list %}
				  <tr>
				    <div>
				        <td>{{ provas.turma }}</td>
				        <td>{{ provas.data }}</td>
				        <td>{{ provas.prova }}</td>
				    </div>
				  </tr>
				{% endfor %}
			</tbody>
		  </table>
		</div>
		<input type="submit" value="add uma data importante"/>
  	</div>

	<div class="doom">
		<img src="{% static 'database/images/materiais.png' %}"/>
		<h2>Materiais</h2>
		<input type="submit" value="upload material"/>
	</div>

	<div class="doom">
		<img src="{% static 'database/images/www.png' %}"/>
		<h2>Links</h2>
		<li><a>www.google.com</a></li>
		<li><a>www.orkut.com</a></li>
		<li><a>www.wikipedia.com</a></li>
		<input type="submit" value="add novo link pra galera"/>
	</div>

</body>
