{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ nome }}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
  <!-- Bootstrap core CSS-->
  <link href="{% static 'database/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'database/css/menumat.css' %}" rel="stylesheet">
</head>

<div class="page-header">
	<a href="{% url 'database:index' %}"><img src="{% static 'database/images/casa.png' %}"/></a>
    <h1><a href="/">Matéria Maneira</a></h1>
	Turma A2
</div>

<body>
	<div class="doom">
		<img src="{% static 'database/images/grupo.png' %}"/>
		<h2>Grupos</h2>
		<div class="nico">
			<li>25/03/2021 - 11:45 - Em Frente Ao Trailer - 3 pessoas <input type="submit" value="participar"/></li>
			<li>27/03/2021 - 09:00 - Sala de Estudos IC - 2 pessoas <input type="submit" value="participar"/></li>
			<li>29/03/2021 - 16:00 - DACC - 5 pessoas <input type="submit" value="cheio"/></li>
			<input type="submit" value="add grupinho baum"/>
		</div>
	</div>
	<div class="doom">
		<img src="{% static 'database/images/www.png' %}"/>
		<h2>Links</h2>
		<li><a>www.google.com</a></li>
		<li><a>www.orkut.com</a></li>
		<li><a>www.wikipedia.com</a></li>
		<input type="submit" value="add novo link pra galera"/>
	</div>
	<div class="doom">
		<img src="{% static 'database/images/calendar.png' %}"/>
		<h2>Datas</h2>
		<li>30/04/2021 - V1</li>
		<li>25/06/2021 - V2</li>
		<li>05/07/2021 - VR</li>
		<li>11/07/2021 - VS</li>
		<input type="submit" value="add uma data importante"/>
	</div>
	<div class="doom">
		<img src="{% static 'database/images/materiais.png' %}"/>
		<h2>Materiais</h2>
		<input type="submit" value="upload material"/>
	</div>
</body>
