{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ nome }}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
  <!-- Bootstrap core CSS-->
  <link href="{% static 'database/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'database/css/menumat.css' %}" rel="stylesheet">
</head>

<div class="page-header">
	<a href="{% url 'database:index' %}">Home</a>
    <h1><a href="/">Materia Maneira</a></h1>
</div>

<body>
	
</body>
